html, body {
    height: 100%;
    margin: 0;
}

#profile {
    height:200px;
}

.container {
    min-height: 100%;
}


@media screen and (max-width:768px) {
    #profile {
        max-width: 100%;
        height: auto;
    }

    .nav {
        padding-top: 0;
    }

}